@page "/restaurantapplication/"
@inject HttpClient _client
@inject IJSRuntime js
@attribute [Authorize]
@inject NavigationManager Navigation
@implements IDisposable

<h3>Approve restaurant application -Admin Side</h3>
<br />
@if (RestaurantApplication != null)
{
    <table class="table table-responsive" id="bookingsTable">
        <thead>
            <tr>
                <th>Restaurant Name</th>
                <th>Cuisine</th>
                <th>Application Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var RA in RestaurantApplication)
            {
                <tr>
                    <td>@RA?.RestaurantName</td>
                    <td>@RA?.Cuisine</td>
                    <td>@RA?.Status</td>
                    <td>
                        <a href="/restaurantApplication/edit/@RA.Id" class="bi bi-pencil"></a>

                        <a href="/restaurant/create/@RA.Id" class="bi bi-arrow-bar-right"></a>

                        <button class="bi bi-trash" @onclick="@(()=>Delete(RA.Id))"></button>
                    </td>
                    
                </tr>
            }
        </tbody>
    </table>

}
else
{
    <div class="alert alert-info">Loading...</div>
}

@code {
    private List<RestaurantApplication>? RestaurantApplication;
    private List<Restaurant>? Restaurants;

    protected async override Task OnInitializedAsync()
    {
        RestaurantApplication = await _client.GetFromJsonAsync<List<RestaurantApplication>>($"{Endpoints.RestaurantApplicationsEndpoint}");
    }

    

    async Task Delete(int RestaurantApplicationId)
    {
        var restaurantApplication = RestaurantApplication.First(q => q.Id == RestaurantApplicationId);
        var confirm = await js.InvokeAsync<bool>("confirm", $"Do you want to delete {restaurantApplication.RestaurantName}?");
        if (RestaurantApplication != null)
        {
            if (confirm)
            {
                await _client.DeleteAsync($"{Endpoints.RestaurantApplicationsEndpoint}/{RestaurantApplicationId}");
                await OnInitializedAsync();
            }
        }

    }

    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        await js.InvokeVoidAsync("AddDataTable", "#bookingsTable");
    }

    public void Dispose()
    {
        js.InvokeVoidAsync("DataTablesDispose", "#bookingsTable");
    }
}

