@page "/main/footer"
<div class="site-footer">
    <div class="footer-content">
        <div class="footer-section">
            <h5>For Diners</h5>
            <ul>
                <li><a href="#">Reservations</a></li>
                <li><a href="#">Terms & Conditions</a></li>
                <li><a href="#">FAQ</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h5>For Restaurants</h5>
            <ul>
                <li><a href="#">BookBite For Restaurants</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h5>More</h5>
            <ul>
                <li><a href="#">About BookBite</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h5>Download our App</h5>
            <ul>
                <li><a href="#">App Store</a></li>
                <li><a href="#">Google Play</a></li>
                <li><a href="#">AppGallery</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h5>Support</h5>
            <ul>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Help Center</a></li>
            </ul>
        </div>
    </div>
    <br/>
    <div class="copyright">
        <p>&copy; @DateTime.Now.Year - BookBite. All rights reserved by Yi Meng and Piers.</p>
    </div>
</div>
