@inject NavigationManager Navigation



<div class="@NavMenuCssClass">
    <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
    <nav class="flex-column">
        <AuthorizeView>
            <Authorized>
                <div class="nav-item px-3">
                    <a class="nav-link" href="#" @onclick="BeginLogOut">
                        <span class="oi oi-account-logout" aria-hidden="true"></span>Log out
                    </a>
                </div>
            </Authorized>
        </AuthorizeView>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class=" oi bi bi-house-fill" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/restaurants">
                <span class="oi oi-spreadsheet" aria-hidden="true"></span> Restaurants
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/reservations">
                <span class="oi oi-calendar" aria-hidden="true"></span> Reservations
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/more">
                <span class="oi bi bi-three-dots" aria-hidden="true"></span> More
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/staff">
                <span class="oi bi bi-three-dots" aria-hidden="true"></span> Staff
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
    private void BeginLogOut()
    {
        Navigation.NavigateToLogout("authentication/logout");
    }

    
}
