@page "/"


<div class="hero">
	<img src="images/hero.jpg">
	<div class="overlay-text">
		<h4>Experience culinary excellence with us </h4>
		<h2>anywhere,everywhere</h2>
	</div>
</div>

<h2 class="menu-title"><span class="oi bi bi-fire red-color"></span> Popular Restaurants</h2>
<div class="wrapper">
	<div class="item">Restaurant 1</div>
	<div class="item">Restaurant 2</div>
	<div class="item">Restaurant 3</div>
	<div class="item">Restaurant 4</div>
	<div class="item">Restaurant 5</div>
</div> 

<h2 class="menu-title"><span class="oi oi-people grey-color"></span> Everyday Hotpot</h2>
<div class="wrapper">
	<div class="item">Restaurant 1</div>
	<div class="item">Restaurant 2</div>
	<div class="item">Restaurant 3</div>
	<div class="item">Restaurant 4</div>
	<div class="item">Restaurant 5</div>
</div>

<h2 class="menu-title"><span class="oi bi bi-tags-fill green-color"></span> Amazing Deals</h2>
<div class="wrapper">
	<div class="item">Restaurant 1</div>
	<div class="item">Restaurant 2</div>
	<div class="item">Restaurant 3</div>
	<div class="item">Restaurant 4</div>
	<div class="item">Restaurant 5</div>
</div>


