.hero{
    width:100%;
    height:300px;
    position:relative;
}
    .hero img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter:brightness(80%);
    }

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: none;
    padding: 10px 20px;
    text-align: center;
}

    .overlay-text h4{
        font-size:40px;
        color:#FFFFFF;
        font-weight:500;
        font-family:sans-serif;
        white-space:nowrap;
    }

    .overlay-text h2 {
        font-size: 80px;
        color: transparent;
        font-weight: 400;
        font-family:sans-serif;
        position: relative;
    }
        .overlay-text h2::before {
            content: attr(data-text);
            position: absolute;
            top: 0;
            left: 0;
            width: 0;
            height: 100%;
            color: #FFFFFF;
            border-right: 2px solid #FFFFFF;
            overflow: hidden;
            animation: animate 6s steps(19) infinite
        }
        @keyframes animate {
            0%,10%,100% {
                width: 0;
            }
            70%,90% {
                width: 100%;
            }
        }

.wrapper {
    margin:30px 0;
    display: flex;
    overflow-x: scroll;
    background-color:#EDEDED;
    max-width:95vw;
    height:300px; 
    gap:30px;
}

.item {
    min-width: 300px;
    height: 265px;
    text-align: center;
    position: relative;
}
    .item img {
        border-radius: 10px;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .item img:hover{
        opacity:0.5;
        transform:scale(1.2);
        transition:0.5s;
    }
.overlay-name{
    position:absolute;
    top:95%;
    left:50%;
    transform:translate(-50%,-50%);
    background-color:none;
    font-weight:bold;
    color:#FFFFFF;
    font-family:sans-serif;
    font-size:30px;
    white-space:nowrap;
}

.menu-title {
    font-weight: bold;
    font-family: sans-serif;
    margin: 20px 0 20px 20px;
    color:#575757;
}
.red-color {
    color:#FF0000;
}

.grey-color {
    color: #088F8F;
}

.green-color {
   color: #008000;
}
