@page "/more"

<div class="business-hero">
	<img src="images/business-hero.png">
	<div class="overlay-text-business">
		<h4>Grow your business with BookBite</h4>
		<p>
			Ever wonder how your restaurant could thrive with a fully booked dining room every night?<br />
			Discover the secret to success with our website,<br />
			because your tables deserve to be filled!
		</p>
	</div>
	<a href="/restaurantform">
		<input type="submit" value="Find out more" class="business-hero-btn"/>
	</a>
	<section>
		<h2>About Us</h2>
		<p>
			Welcome to Your Reservation Hub, where the journey to exceptional dining experiences begins.<br />
			At Your Reservation Hub, we understand the significance of a well-planned dining experience, and our mission is to make restaurant reservations convenient and enjoyable for you<br />
			Established by Piers and Yi Meng in 2023, we set out with a passion for streamlining the restaurant reservation process to enhance your dining experience.<br />
			We believe that a great meal starts with a great reservation. Whether you're planning a romantic evening, a business lunch, or a casual gathering with friends, <br />we're here to simplify the reservation process. Our platform offers a seamless experience, allowing you to explore diverse dining options and secure your table effortlessly
		</p>
	</section>
	<footer>

	</footer>
</div>

@code {

}
