.business-hero{
    width:100%;
    height:300px;
    position:relative;
}
    .business-hero img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

.business-hero-btn {
    width:200px;
    height:50px;
    font-size:20px;
    font-weight:bold;
    border-radius:25px;
    background-color:#F8D568;
    border:none;
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translate(0,-50%);
    background-color: none;
    transition: 0.5s;
}
    .business-hero-btn:hover {
        color:#FFFFFF
    }
.overlay-text-business{
    position:absolute;
    top:50%;
    left:0;
    transform:translate(0,-50%);
    background-color:none;
    padding:10px 20px;
}
    .overlay-text-business h4 {
        font-size: 60px;
        color: #FFFFFF;
        font-weight: bold;
        font-family: sans-serif;
        text-align:center;
    }

    .overlay-text-business p {
        font-size:20px;
        color: #FFFFFF;
        font-family: sans-serif;
        text-align:center;
    }

.business-hero section{
    text-align:center;
    margin-top:50px;
}

.business-hero section h2{
    font-weight:bold;
}

.business-hero footer {
    background-color: #D9B73C;
    width:100%;
    height:250px;
}