@page "/promotions"
@inject NavigationManager Navigation
@inject HttpClient _client

<div class="promo-hero">
	<button @onclick="Create" class="btn btn-secondary"><span class="oi oi-plus"></span></button>
	<div class="overlay-text-promo">
		<h1>The No. 1 reservation app for all diners.</h1>
		<p>Savor Exclusive Delights at Bookbite! Unleash a world of culinary bliss with our exclusive promotions, crafted just for you. <br />
			From discounts to special treats, every reservation at Bookbite is a journey into indulgence. <br />
			Elevate your dining experience with us today! </p>
	</div>
	<img src="images/promo.png" />
</div>
@if (Promos != null)
{
	<div class="album py-5 bg-body-tertiary">
		<div class="container">
			<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
				@foreach (var promo in Promos)
				{
					<div class="col">
						<div class="card shadow-sm">
							@if (promo.ImagePath != null)
							{
								<img src="@promo.ImagePath">
							}
							else
							{
								<img src="https://static.vecteezy.com/system/resources/previews/005/337/799/original/icon-image-not-found-free-vector.jpg">
							}
							<div class="card-body">
								<h2><b>@promo.Name</b></h2>
								<p class="card-text">Enjoy @promo.Discount% Discount</p>
								<div class="d-flex justify-content-between align-items-center">
									<button type="button" class="btn btn-sm btn-outline-warning w-100" @onclick="() => ViewPromo(promo.Id)">See Detail</button>
								</div>
							</div>
						</div>
					</div>
				}
			</div>
		</div>
	</div>
}		

@code {
	private List<Promotion>? Promos;

	protected override async Task OnInitializedAsync()
	{
		Promos = await _client.GetFromJsonAsync<List<Promotion>>($"{Endpoints.PromotionsEndpoint}");
	}

	private void ViewPromo(int id)
	{
		Navigation.NavigateTo($"/promotions/{id}");
	}
	private void Create()
	{
		Navigation.NavigateTo("/promotions/create");
	}
}
