.upcoming-group{
    margin:30px 0 30px 0;
    display:flex;
    height:200px;
    background-color:#EDEDED;
    text-align:center;
    position:relative;
}
    .upcoming-group h3{
        font-size:16px;
        position:absolute;
        top:50%;
        left:50%;
        transform:translate(-50%,-50%);
        white-space:nowrap;
    }

th{
    font-size:30px;
}
td{
    font-size:20px;
}

.confirm {
    color: #4BB543;
}

.cancel {
    color:#FF0000;
}

.custom-control-input{
    width:20px;
    height:20px;
    cursor:pointer;
}

