@page "/restaurantapplication/create"
<div class="restaurant-form">
    <h2>Tell us more about your restaurant!</h2>
    <div class="col-md-6">
        <div class="mb-3">
            <label for="RName" class="form-label">Restaurant Name:</label>
            <input type="text" class="form-control" name="RName" />
        </div>
    </div>
    <div class="col-md-6">
        <div class="mb-3">
            <label for="Email" class="form-label">Email:</label>
            <input type="email" class="form-control" name="Email" />
        </div>
    </div>
    <div class="col-md-6">
        <div class="mb-3">
            <label for="Cuisine" class="form-label">Cuisine:</label>
            <input type="text" class="form-control" name="Cuisine" />
        </div>
    </div>
	<div class="col-md-6">
        <div class="mb-3">
            <label for="Number" class="form-label">Phone Number:</label>
            <input type="tel" class="form-control" name="Number" />
        </div>
    </div>
    <div class="col-md-6">
        <div class="mb-3">
            <label for="Desc" class="form-label">Description:</label>
            <input type="text" class="form-control" name="Desc" />
        </div>
    </div>
    <img src="images/form.jpg" />
    <button type="submit" class="btn btn-primary">Submit Application</button>
</div>


