.res-container {
    display: flex;
    min-height: 550px;
    background-color: #EDEDED;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.bookmark {
    cursor: pointer;
}

    .bookmark:hover {
        color: #F8D568;
    }

.bookmark-yellow {
    cursor: pointer;
    color: #F8D568;
}

.res-img {
    padding: 10px 0 10px 10px;
    margin-left: 50px;
    width: 800px;
    height: 450px;
}

    .res-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .res-img button {
        font-size: 25px;
        border-radius: 10px;
        background-color: #7393B3;
    }

    .res-img h2 {
        font-size: 40px;
        font-weight: bold;
        color: #575757;
    }

.menu-img {
    border: 1px solid #000000;
    margin-top: 70px;
    padding: 10px 10px 10px 0;
    width: 200px;
    height: 200px;
    position: relative
}

    .menu-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        -webkit-filter: blur(1px);
    }

    .menu-img span {
        color: #000000;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        font-size: 50px;
    }

.res-details {
    padding: 20px;
    display: flex;
    gap: 50px;
}

.vl {
    border-left: 2px solid #000000;
    min-height: 200px;
}

.accordion-item h2 button {
    padding-left: 50px;
    font-weight: bold;
    font-size: 30px;
    color: #575757;
}

.shadow-sm {
    flex: 1;
    padding: 30px;
    margin: 70px 60px 10px 60px;
    height: 50%;
    background-color: #FFFFFF;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

    .card-body button {
        font-size: 30px;
    }
