.review-head {
    padding: 30px;
    display: flex;
    position: relative;
    width: 100%;
    margin-bottom: 80px;
    background-color: #EDEDED;
}
    .review-head h1 {
        font-size: 60px;
        font-weight: bold;
        color: #0047AB;
    }
    .review-head button{
        position:absolute;
        right:2%;
        top:50%;
        transform:translate(0,-50%);
        width:200px;
    }

/* Carousel base class */
.carousel {
    margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    bottom: 3rem;
    z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
    height: 20rem;
    margin-bottom: 20px;
}

.carousel-control-next{
    color:#000000;
    font-size:30px;
}
.carousel-control-prev {
    color: #000000;
    font-size: 30px;
}

.container {
    display: flex;
    justify-content: center;
    background-color: #0096FF;
    height: 20rem;
    border-radius: 30px;
    width: 1200px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.5);
}
.col-lg-9{
    margin-top:2rem;
    height:16rem;
    text-align:center;
    font-size:30px;
    border-radius:30px;
}
    .col-lg-9 h1 {
        color: #E4D00A;
    }

.review-expand {
    padding:10px;
    text-align: center;
    font-size: 30px;
    background-color: #EDEDED;
}

    .review-expand a {
        cursor: pointer;
        color: #0096FF;
    }
        .review-expand a:hover {
            color: #0066CC;
        }
.review-body {
    padding:10px;
    display: flex;
    align-items: center;
    background-color: #EDEDED;
    border-style: outset;
    position:relative;
}
    .review-body h1 {
        padding-left:20px;
        color: #E4D00A;
        white-space:nowrap;
    }
    .review-body div{
        margin-left:2rem;
        font-size:14px;
    }
    .review-body small {
        position: absolute;
        bottom: 0;
        right: 0;
        transform:translate(-5%,0);
    }
.btn-grp{
    position:absolute;
    right:0;
    top:0;
    transform:translate(-5%,5%);
}

