@page "/unauthorized"
<h1><b><span class="oi bi bi-exclamation-octagon-fill"></span> Unauthorized Access</b></h1>
<h4>Sorry, you don't have permission to access this page. Please contact the administrator for assistance.</h4>

@code {

}
